<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List product</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <a th:href="@{~/admin/products/create}" class="btn btn-primary">Create New Product</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listproduct}">
            <th scope="row" th:text="${product.id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>

            <td style="width: 250px; display: flex; justify-content: center;">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-interval="50">
                    <div class="carousel-inner">
                        <div th:each="image, iterStat : ${product.productImages}" class="carousel-item"
                             th:classappend="${iterStat.index == 0} ? ' active'">
                            <img th:src="@{${image.photo}}" class="d-block" alt="Product image" height="100px">
                        </div>
                    </div>
                </div>
            </td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.category.name}"></td>
            <td>
                <a th:href="@{/admin/products/edit/{id}(id=${product.id})}"
                   custom:linkMethod="post" class="btn btn-secondary">Edit</a>
                <a th:href="@{/admin/products/delete/{id}(id=${product.id})}"
                   custom:linkMethod="post" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>